.metadata/
MICROSERVICES/src/config.properties
MICROSERVICES/.classpath
/MICROSERVICES/.project
MICROSERVICES/contacts.log
MICROSERVICES/.settings/
MICROSERVICES/bin/
MICROSERVICES/bin1/
CRS-GROUPB-WIBMO-REST/target/
CRS-GROUPB-WIBMO-REST/src/main/resources/application.properties
CRS-GROUPB-WIBMO-REST/src/main/java/com/wibmo/utils/DBUtils.java